@{
	ViewData["Title"] = "Home Page";
}

<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" id="registerBtn" data-mdb-modal-init data-mdb-target="#registerModal">
	Registration Form Modal
</button>

<table class="table table-bordered table-striped">
	<thead class="table-dark">
		<tr>
			<th>SL</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Birth Date</th>
			<th>Email</th>
			<th>Phone</th>
			<th>City</th>

		</tr>
	</thead>
	<tbody id="dataContainer"></tbody>
</table>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog d-flex justify-content-center">
		<div class="modal-content w-75">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel2">Registration Form</h5>
				<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-4">
				<form id="registrationForm" class="g-3 needs-validation" novalidate>

					<div class="form-outline mb-3">
						<label for="textFirstName" class="form-label">First Name</label>
						<input type="text" class="form-control" id="textFirstName" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textLastName" class="form-label">Last Name</label>
						<input type="text" class="form-control" id="textLastName" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textBirthDate" class="form-label">Date of Birth</label>
						<input type="date" class="form-control" id="textBirthDate" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textEmail" class="form-label">Email</label>
						<input type="text" class="form-control" id="textEmail" required>
					</div>

					<div class="form-outline mb-3">
						<label for="numPhone" class="form-label">Phone</label>
						<input type="number" class="form-control" id="numPhone" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textCity" class="form-label">City</label>
						<select class="form-select" id="textCity" required>
							<option selected disabled value="">Choose...</option>
							<option>Dhaka</option>
							<option>Chittagon</option>
							<option>Khulna</option>
							<option>Rajshahi</option>
							<option>Sylhet</option>
						</select>
						@*<div class="invalid-feedback">
				 			Please select a valid state
				 		</div>*@
					</div>

					<br />

					<div class="col-12">
						<button id="click_button" class="btn btn-primary" type="submit">Submit Form</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog d-flex justify-content-center">
		<div class="modal-content w-75">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel2">Update Form</h5>
				<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-4">
				<form id="updateForm" class="g-3 needs-validation" novalidate>

					<div class="form-outline mb-3">
						<label for="textFirstName2" class="form-label">First Name</label>
						<input type="text" class="form-control" id="textFirstName2" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textLastName2" class="form-label">Last Name</label>
						<input type="text" class="form-control" id="textLastName2" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textBirthDate2" class="form-label">Date of Birth</label>
						<input type="date" class="form-control" id="textBirthDate2" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textEmail2" class="form-label">Email</label>
						<input type="text" class="form-control" id="textEmail2" required>
					</div>

					<div class="form-outline mb-3">
						<label for="numPhone2" class="form-label">Phone</label>
						<input type="number" class="form-control" id="numPhone2" required>
					</div>

					<div class="form-outline mb-3">
						<label for="textCity2" class="form-label">City</label>
						<select class="form-select" id="textCity2" required>
							<option selected disabled value="">Choose...</option>
							<option>Dhaka</option>
							<option>Chittagon</option>
							<option>Khulna</option>
							<option>Rajshahi</option>
							<option>Sylhet</option>
						</select>
						@*<div class="invalid-feedback">
				 			Please select a valid state
				 		</div>*@
					</div>

					<br />

					<div class="col-12">
						<button id="click_button2" class="btn btn-primary" type="submit">Submit Form</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section scripts {

	<script>
		$(document).ready(function () {
			console.log("Hello World!");
		});

		$("#registerBtn").click(function(e){
			e.preventDefault();
			$("#registrationForm").trigger("reset");
			$("#registrationForm").removeClass('was-validated');
			$('#registerModal').modal('show');

		});

		$("#registrationForm").submit(async function(e){
			e.preventDefault();
			var form = document.getElementById("registrationForm");
			if (!form.checkValidity()) {
				e.stopPropagation();
			}
			else
			{

				let createRequest={
					FirstName:$("#textFirstName").val(),
					LastName:$("#textLastName").val(),
					BirthDate:$("#textBirthDate").val(),
					Email:$("#textEmail").val(),
					Phone:$("#numPhone").val(),
					City:$("#textCity").val()
				}
				console.log(createRequest);

				// Fetch menu data using sendRequest
				const url = "/CreateEmployeeRequest";

				try {

					const options = {
						method: "POST",
						headers: {
							'Content-Type': 'application/json'
						}
					};
					if (createRequest) {
						options.body = JSON.stringify(createRequest);
					}
					const response = await fetch(url, options);

					if (!response.ok) {
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					const result = await response.json();
					//return result;
					console.log("result",result);

					if (!result.isValid) {
						alert("Error")
						//showToast(response.responseCode, response.messageType, response.message);
					}
					else {
						//alert("Submitted")
						$('#registerModal').modal('hide');
						getEmployeeData();

					}
				} catch (error) {
					console.error(error);
				}

			};
		});

		//getEmployeeData();
		async function getEmployeeData(){
			console.log("getEmployeeData() called");

			const url = "/GetEmployeeList";

				try {

					const options = {
						method: "POST",
						headers: {
							'Content-Type': 'application/json'
						}
					};

					const response = await fetch(url, options);

					if (!response.ok) {
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					const result = await response.json();
					//return result;
					console.log("result",result);

					displayData(result);
					if (!result.isValid) {
						alert("Error")
						//showToast(response.responseCode, response.messageType, response.message);
					}
					else {
						//alert("Submitted")
					}
				} catch (error) {
					console.error(error);
				}
		}


		function displayData(responseData)
		{
			$("#dataContainer").empty();

			$.each(responseData.data, function (index, value) {
				var slnocell = $("<td>").attr("scope", "row").append(index + 1);
				var firstName = $("<td>").append(value.firstName);
				var lastName = $("<td>").append(value.lastName);
				var birthDate = $("<td>").append(value.birthDate);
				var email = $("<td>").append(value.email);
				var phone = $("<td>").append(value.phone);
				var city = $("<td>").append(value.city);

				var iconcell = $("<td>");
				var icondiv = $("<div>").attr("class", "d-flex justify-content-center").appendTo(iconcell);
				var editIcon = $("<i>").attr({
					"class": "e-btn bi-pen-fill text-white bg-warning rounded-circle shadow",
					"style": "font-size: 18px; padding: 10px; cursor: pointer; border: 2px solid white;",
					"title": "Update"
				}).appendTo(icondiv);
				var deleteIcon = $("<i>").attr({
					"class": "e-btn bi-trash-fill text-white bg-danger rounded-circle shadow",
					"style": "font-size: 18px; padding: 10px; cursor: pointer; border: 2px solid white;",
					"title": "Delete"
				}).appendTo(icondiv);


				$("<tr>").attr("class", "text-center").append(slnocell, firstName, lastName, birthDate, email, phone, city, iconcell).appendTo("#dataContainer");

				(function ($) {
					editIcon.on("click", function (e) {
						e.preventDefault();
						console.log("edit",value)
						$("#updateModal").modal("show");

						$("#textFirstName2").data("EmployeeId",value.id);
						$("#textFirstName2").val(value.firstName);
						$("#textLastName2").val(value.lastName);
						$("#textBirthDate2").val(value.birthDate);
						$("#textEmail2").val(value.email);
						$("#numPhone2").val(value.phone);
						$("#textCity2").val(value.city);

						$("#updateForm").submit(async function(e){
						e.preventDefault();
						var form = document.getElementById("updateForm");
						if (!form.checkValidity()) {
							e.stopPropagation();
						}
						else
						{

							let createRequest={
                                Id:$("#textFirstName2").data("EmployeeId"),
								FirstName:$("#textFirstName2").val(),
								LastName:$("#textLastName2").val(),
								BirthDate:$("#textBirthDate2").val(),
								Email:$("#textEmail2").val(),
								Phone:$("#numPhone2").val(),
								City:$("#textCity2").val()
							}
							console.log(createRequest);

							// Fetch menu data using sendRequest
							const url = "/UpdateEmployeeRequest";

							try {

								const options = {
									method: "POST",
									headers: {
										'Content-Type': 'application/json'
									}
								};
								if (createRequest) {
									options.body = JSON.stringify(createRequest);
								}
								const response = await fetch(url, options);

								if (!response.ok) {
									throw new Error(`HTTP error! status: ${response.status}`);
								}
								const result = await response.json();
								//return result;
								console.log("result",result);

								if (!result.isValid) {
									alert("Error")
									//showToast(response.responseCode, response.messageType, response.message);
								}
								else {
									//alert("Submitted")
									$('#updateModal').modal('hide');
									getEmployeeData();
								}
							} catch (error) {
								console.error(error);
							}

						};
					});
					});

					deleteIcon.on("click", function (e) {

						e.preventDefault();
						$("#ls_delete_company_modal").modal("show");
						$("#ls_delete_company_id_hidden").data("companyId", value.CompanyId);
					});

				})(jQuery);


			});

			// responseData.data.forEach((item, index) => {
			// 	htmlContent += `<tr>
			// 						<td>${index + 1}</td>
			// 						<td>${item.birthDate}</td>
			// 						<td>${item.city}</td>
			// 						<td>${item.email}</td>
			// 						<td>${item.firstName}</td>
			// 						<td>${item.lastName}</td>
			// 						<td>${item.phone}</td>
			// 						<td>
			// 							<button class="btn btn-primary btn-sm" onclick="updateRow(${index})">Update</button>
			// 							<button class="btn btn-danger btn-sm" onclick="deleteRow(${index})">Delete</button>
			// 						</td>
			// 					</tr>`;
			// });
		}

		// updateEmployeeData();
		// async function updateEmployeeData(){
		// 	console.log("updateEmployeeData() called");

		// 	const url = "/UpdateEmployeeList";

		// 		try {

		// 			const options = {
		// 				method: "POST",
		// 				headers: {
		// 					'Content-Type': 'application/json'
		// 				}
		// 			};

		// 			const response = await fetch(url, options);

		// 			if (!response.ok) {
		// 				throw new Error(`HTTP error! status: ${response.status}`);
		// 			}
		// 			const result = await response.json();
		// 			return result;
		// 			console.log("result",result);

		// 			displayData(result);
		// 			if (!result.isValid) {
		// 				alert("Error")
		// 				showToast(response.responseCode, response.messageType, response.message);
		// 			}
		// 			else {
		// 				alert("Submitted")
		// 			}
		// 		} catch (error) {
		// 			console.error(error);
		// 		}
		// }
		// 	function displayData(responseData) {
		// 	const container = document.getElementById("dataContainer");
		// 	let htmlContent = "";

		// 	responseData.data.forEach((item, index) => {
		// 		htmlContent += `<tr>
		// 							<td>${index + 1}</td>
		// 							<td>${item.birthDate}</td>
		// 							<td>${item.city}</td>
		// 							<td>${item.email}</td>
		// 							<td>${item.firstName}</td>
		// 							<td>${item.lastName}</td>
		// 							<td>${item.phone}</td>
		// 							<td>
		// 								<button class="btn btn-primary btn-sm" onclick="updateRow(${index})">Update</button>
		// 								<button class="btn btn-danger btn-sm" onclick="deleteRow(${index})">Delete</button>
		// 							</td>
		// 						</tr>`;
		// 	});

		// 	container.innerHTML = htmlContent;
		// }

		// Update function
		// function updateRow(index) {
		// 	const item = data[index]; Get the data from the index
		// 	console.log("updateRow()", index);
		// 	console.log("updateRow()", item);

		// 	Fill the modal with the data to be updated
		// 	$("#textFirstName").val(item.firstName);
		// 	$("#textLastName").val(item.lastName);
		// 	$("#textBirthDate").val(item.birthDate);
		// 	$("#textEmail").val(item.email);
		// 	$("#numPhone").val(item.phone);
		// 	$("#textCity").val(item.city);

		// 	Show the modal
		// 	$('#registerModal').modal('show');

		// 	When the form is submitted, send the updated data
		// 	$("#registrationForm").submit(async function(e) {
		// 		e.preventDefault();
		// 		var form = document.getElementById("registrationForm");
		// 		if (!form.checkValidity()) {
		// 			e.stopPropagation();
		// 		} else {
		// 			let updatedData = {
		// 				FirstName: $("#textFirstName").val(),
		// 				LastName: $("#textLastName").val(),
		// 				BirthDate: $("#textBirthDate").val(),
		// 				Email: $("#textEmail").val(),
		// 				Phone: $("#numPhone").val(),
		// 				City: $("#textCity").val()
		// 			};

		// 			console.log(updatedData);
		// 			const url = "/CreateEmployeeRequest";

		// 			try {
		// 				const options = {
		// 					method: "POST",
		// 					headers: {
		// 						'Content-Type': 'application/json'
		// 					},
		// 					body: JSON.stringify(updatedData)
		// 				};

		// 				const response = await fetch(url, options);

		// 				if (!response.ok) {
		// 					throw new Error(`HTTP error! status: ${response.status}`);
		// 				}

		// 				const result = await response.json();
		// 				if (result.isValid) {
		// 					$('#registerModal').modal('hide');
		// 					getEmployeeData();  Refresh the table with the updated data
		// 				} else {
		// 					alert("Error");
		// 				}
		// 			} catch (error) {
		// 				console.error(error);
		// 			}
		// 		}
		// 	});
		// }

		// Delete function
		// function deleteRow(index) {
		// 	if (confirm("Are you sure you want to delete this row?")) {
		// 		const url = "/DeleteEmployeeRequest";
		// 		const itemToDelete = data[index];

		// 		const deleteRequest = {
		// 			EmployeeId: itemToDelete.id Assuming the item has an `id` field
		// 		};

		// 		Sending the delete request to the server
		// 		fetch(url, {
		// 			method: 'POST',
		// 			headers: {
		// 				'Content-Type': 'application/json'
		// 			},
		// 			body: JSON.stringify(deleteRequest)
		// 		})
		// 		.then(response => response.json())
		// 		.then(result => {
		// 			if (result.isValid) {
		// 				alert("Row deleted successfully!");
		// 				getEmployeeData(); Refresh the table after deletion
		// 			} else {
		// 				alert("Error deleting the row.");
		// 			}
		// 		})
		// 		.catch(error => {
		// 			console.error('Error:', error);
		// 		});
		// 	}
		// }


		$("#click_button").click(function(){
			console.log("Button Clicked");

			let showInfo={
				FirstName:$("#textFirstName").val(),
				LastName:$("#textLastName").val(),
				BirthDate:$("#textBirthDate").val(),
				Email:$("#textEmail").val(),
				Phone:$("#numPhone").val(),
				City:$("#textCity").val()
			}
			console.log(showInfo);
		});

		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(() => {
		  'use strict'

		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  const forms = document.querySelectorAll('.needs-validation')

		  // Loop over them and prevent submission
		  Array.from(forms).forEach(form => {
			form.addEventListener('submit', event => {
			  if (!form.checkValidity()) {
				event.preventDefault()
				event.stopPropagation()
			  }

			  form.classList.add('was-validated')
			}, false)
		  })
		})()
	</script>
}